html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    }

body {
    font-family: 'sansserif';
    color: white;
    background: url("img/grey-wood.jpg");
    background-size: cover;
}

#landing {
    display: flex;
    border: 8px white solid;
    margin: 5% 10% 5% 10%;
    height: 85vh;
    width: 80%;
    justify-content: center;
    background: black;
    box-shadow: -35px 30px 55px #000;
}

#photo {
    border: 8px white solid;
    flex: 1;
    height: 70%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 5%;
}

#about {
    display: flex;
    flex: 3;
    flex-flow: row wrap;
    margin-top: 5%;
}

#pawprint {
    width: 50%;
    position: relative;
    top: 10%;
    left: 15%;
}

#title {
    font-size: 580%;
    font-family: 'Anton', sans-serif;
    font-weight: 150;
    word-spacing: 1px;
    line-height: 100%;
    width: 45%;
    text-align: right;
    position: relative;
    right: 5%;
    top: 3%;

}

#landing-buttons {
    height: 7%;
    position: relative;
    left: 20%;
    bottom: 10%;
    word-spacing: 50px;
}

#bio {
    font-family: 'Oswald', sans-serif;
    width: 90%;
    border-top: white 1px outset;
    padding: 0px 2px 0px 2px;
    font-size: 150%;
    height: 40%;
    text-align: center;
    position: relative; 
    bottom: 5%;
    left: 5%;
}